/* Styles for signature plugin v1.2.0. */
.kbw-signature {
	display: inline-block;
	border: 1px solid #0567a9;
	border-radius: 4px;
	-ms-touch-action: none;
}
.kbw-signature-disabled {
	opacity: 0.35;
}